# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
Prompt*.md
project*

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Unit tests / coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# IDEs
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff
.ruff_cache/
